*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Poppins,sans-serif;
}

body{
  background:radial-gradient(#7a0000,#1a0000);
  color:white;
  height:100vh;
  overflow:hidden;
  text-align:center;
}

/* BLOOD TEXT */
.blood-text{
  font-size:3.2rem;
  color:#white;
  text-shadow:0 0 25px red;
  position:relative;
}

.blood-text::after{
  content:'';
  position:absolute;
  left:50%;
  top:100%;
  width:6px;
  height:30px;
  background:red;
  animation:drip 2s infinite;
}

@keyframes drip{
  0%{height:0;}
  50%{height:30px;}
  100%{height:0;}
}

.blood-text span{
  font-size:1.2rem;
}

/* LOCK */
#lockScreen{
  position:fixed;
  inset:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:15px;
}

input{
  padding:12px;
  border:none;
  border-radius:8px;
  width:230px;
  text-align:center;
}

button{
  padding:10px 25px;
  border:none;
  border-radius:8px;
  background:gold;
  font-weight:bold;
  cursor:pointer;
}

#error{
  display:none;
  color:#ff9a9a;
}

/* CONTENT */
#content{
  display:none;
  padding-top:40px;
}

.blink{
  font-size:2.3rem;
  animation:blink 1s infinite;
}

@keyframes blink{
  50%{opacity:0;}
}

.wish-text{
  font-size:1.05rem;
  margin:20px auto;
  max-width:90%;
  line-height:1.8;
  text-align:centre;
  word-wrap:break-word;
}

.wish-img{
  width:230px;
  border-radius:15px;
  margin:15px 0;
}

/* GIFTS */
.gift{
  position:fixed;
  top:-40px;
  font-size:30px;
  animation:fall linear infinite;
}

@keyframes fall{
  to{transform:translateY(110vh);}
}

/* SNOW */
.snow{
  position:fixed;
  inset:0;
  pointer-events:none;
  background-image:
    radial-gradient(2px 2px at 20px 30px, white 50%, transparent 50%),
    radial-gradient(2px 2px at 100px 80px, white 50%, transparent 50%),
    radial-gradient(2px 2px at 200px 150px, white 50%, transparent 50%);
  animation:snow 5s linear infinite;
}

@keyframes snow{
  from{background-position:0 0;}
  to{background-position:0 200px;}

}

